.footer {
    margin-top: 4rem;

    @media screen and (min-width: 625px) {        
        text-align: center;
    }

    &_text {
        font-size: 1.1rem;
        color: $secondary;
        padding-bottom: 2rem;
    }
}