.footer {
    margin-top: 4rem;

    @media screen and (min-width: 625px) {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        
        text-align: center;
    }

    &_text {
        color: $secondary;
        padding-bottom: 2rem;
    }
}