.header {
    font-size: 1.25rem;
    &_nav {
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;

        &_list {
            list-style-type: none;
            text-align: center;

            @media screen and (min-width: 625px) {
                display: flex;
                flex-direction: row;
            }

            @media screen and (min-width: 1024px) {
                width: 90vw;
            }
            
        &_item {
            position: relative;
            color: $dark;
            padding: 0;

            @media screen and (min-width: 1024px) {
                margin-right: 2em;
            }
            
            &_link {
                display: inline-block;
                letter-spacing: 0.1em;
                padding: 15px 10px;
                width: 100%;

                &:after {    
                    position: absolute;
                    background: none repeat scroll 0 0 transparent;
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 1px;
                    width: 0;
                    left: 50%;
                    background: $dark;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                  }
                  &:hover:after { 
                    width: 100%; 
                    left: 0; 
                  }
                  &:active {
                      color: rgb(55, 112, 161);
                  }
                }
            }
        }
    }
    
}