* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Anonymous Pro', sans-serif;
}

a {
    text-decoration: none;
    color: $dark;
}

html {
    height: 100%;
    background: #DAD0B6;
}

.container {
    max-width: 90vw;
    margin: 0 auto;
}